/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hero-bg-img {
  background-image: url('../assets/hero-bg.png');
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Regular.ttf') format('truetype')
}

html {
  font-family: 'Poppins';
}
